@import './utils/colors.less';

html,
body {
  height: 100%;
  font-size: 14px;
  font-family: arial, verdana, helvetica, 'PingFang SC', 'HanHei SC', STHeitiSC-Light, Microsoft Yahei, sans-serif;
  // color: #777;
}

body {
  // min-width: 1300px;
}

:global {
  .ant-layout {
    flex: 1;
    min-height: 100%;
    background: @backgroundGrey;
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .ant-message-notice:first-child {
    margin-top: 53px;
  }
}
